In [20]:
import pandas as pd
import numpy as np
import re

# Data Aquitition

In [21]:
chickenData = pd.read_csv('data/dataset-ayam.csv')
fishData = pd.read_csv('data/dataset-ikan.csv')
goatData = pd.read_csv('data/dataset-kambing.csv')
cowData = pd.read_csv('data/dataset-sapi.csv')
tahuData = pd.read_csv('data/dataset-tahu.csv')
eggData = pd.read_csv('data/dataset-telur.csv')
tempeData = pd.read_csv('data/dataset-tempe.csv')
shrimpData = pd.read_csv('data/dataset-udang.csv')

In [22]:
chickenData.head()

,Title,Ingredients,Steps,Loves,URL
0,Ayam Woku Manado,1 Ekor Ayam Kampung (potong 12)--2 Buah Jeruk ...,Cuci bersih ayam dan tiriskan. Lalu peras jeru...,1,/id/resep/4473027-ayam-woku-manado
1,Ayam goreng tulang lunak,1 kg ayam (dipotong sesuai selera jangan kecil...,"Haluskan bumbu2nya (BaPut, ketumbar, kemiri, k...",1,/id/resep/4471956-ayam-goreng-tulang-lunak
2,Ayam cabai kawin,1/4 kg ayam--3 buah cabai hijau besar--7 buah ...,Panaskan minyak di dalam wajan. Setelah minyak...,2,/id/resep/4473057-ayam-cabai-kawin
3,Ayam Geprek,250 gr daging ayam (saya pakai fillet)--Secuku...,Goreng ayam seperti ayam krispi--Ulek semua ba...,10,/id/resep/4473023-ayam-geprek
4,Minyak Ayam,400 gr kulit ayam & lemaknya--8 siung bawang p...,Cuci bersih kulit ayam. Sisihkan--Ambil 50 ml ...,4,/id/resep/4427438-minyak-ayam

# Data Assessing and Cleaning

## Fungsi-Fungsi

### Hapus Data Duplikat

In [44]:
def deleteDuplicates(df):
    dfSorted = df.sort_values(by=['Title', 'Loves'], ascending=[False, False])

    cleanedDf = dfSorted.drop_duplicates(subset='Title', keep='first')
    
    return cleanedDf

## Ayam

### Cek Informasi

In [23]:
print(chickenData.shape)
print(chickenData.info())

(1916, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1916 entries, 0 to 1915
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        1916 non-null   object
 1   Ingredients  1901 non-null   object
 2   Steps        1901 non-null   object
 3   Loves        1916 non-null   int64
 4   URL          1916 non-null   object
dtypes: int64(1), object(4)
memory usage: 75.0+ KB
None

Ada nilai null di kolom **ingredients** dan **steps**

### Hapus Nilai Null

In [24]:
# Cek nilai null data ayam
chickenNull = chickenData[chickenData.isnull().any(axis=1)]
chickenNull

,Title,Ingredients,Steps,Loves,URL
255,[Notitle],NaN,NaN,0,/id/resep/4459283-ayam-bakar
258,[Notitle],NaN,NaN,0,/id/resep/4458951-sate-ayam-maknyusss
298,[Notitle],NaN,NaN,0,/id/resep/4454787-garang-asam-ayam-kampung
302,[Notitle],NaN,NaN,0,/id/resep/4454903-ayam-kremes
464,[Notitle],NaN,NaN,0,/id/resep/4444134-ayam-balado-simple
521,[Notitle],NaN,NaN,0,/id/resep/4442538-perkedel-ayam
523,[Notitle],NaN,NaN,0,/id/resep/4442319-chicken-wings-saos-mentega
524,[Notitle],NaN,NaN,0,/id/resep/4442267-ayam-sambal-ijo
835,[Notitle],NaN,NaN,0,/id/resep/4410020-ayam-terriyaki
849,[Notitle],NaN,NaN,0,/id/resep/4409498-mie-ayam-homemade-ala-mama-n...
850,[Notitle],NaN,NaN,0,/id/resep/4409320-salted-egg-yolk-chicken-simp...
933,[Notitle],NaN,NaN,0,/id/resep/4396883-ayam-rw
1079,[Notitle],NaN,NaN,0,/id/resep/4377584-mi-ayam
1314,[Notitle],NaN,NaN,0,/id/resep/4363996-ayam-gocap-goreng-kecap
1799,[Notitle],NaN,NaN,0,/id/resep/4324179-sup-ceker-ayam

In [25]:
# Hapus Nilai Null
chickenData.dropna(inplace=True)
chickenData.shape

(1901, 5)

### Duplikat

Terdapat nilai duplikat pada kolom **Title**, karena ingin mengambil data yang benar-benar unggul saja dari segi rating

In [45]:
# Cek banyak data duplikat kolom title
dupChickenTitle = chickenData.duplicated(subset=['Title'])
dupChickenTitle = chickenData[dupChickenTitle]
print(len(dupChickenTitle))

# Hapus Data Duplikat
cleanedChicken = deleteDuplicates(chickenData)

293

In [46]:
cleanedChicken.shape

(1608, 5)

## Ikan

### Cek Informasi

In [29]:
print(fishData.shape)
print(fishData.info())

(1932, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1932 entries, 0 to 1931
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        1932 non-null   object
 1   Ingredients  1932 non-null   object
 2   Steps        1932 non-null   object
 3   Loves        1932 non-null   int64
 4   URL          1932 non-null   object
dtypes: int64(1), object(4)
memory usage: 75.6+ KB
None

Sudah tidak ada nilai null, perlu pengecekan nilai duplikat pada kolom **Title**.

### Duplikat

Terdapat nilai duplikat pada kolom **Title**.

In [48]:
# Cek banyak duplikat kolom Title
dupFishTitle = fishData.duplicated(subset=['Title'])
dupFishTitle = fishData[dupFishTitle]
print(len(dupFishTitle))

cleanedFish = deleteDuplicates(fishData)
print(len(cleanedFish))

131
1801

## Kambing

In [30]:
print(goatData.shape)
print(goatData.info())

(1896, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1896 entries, 0 to 1895
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        1896 non-null   object
 1   Ingredients  1883 non-null   object
 2   Steps        1883 non-null   object
 3   Loves        1896 non-null   int64
 4   URL          1896 non-null   object
dtypes: int64(1), object(4)
memory usage: 74.2+ KB
None

Masih ada nilai null pada kolom **Ingredients** dan **Steps**. Dan juga perlu dicek nilai duplikat di kolom **Title**.

### Hapus Nilai Null

In [49]:
# Hapus Nilai Null
goatData.dropna(inplace=True)
goatData.shape

(1883, 5)

### Duplikat

In [52]:
dupGoatTitle = goatData.duplicated(subset=['Title'])
dupGoatTitle = goatData[dupGoatTitle]
print(len(dupGoatTitle))

# Hapus Data Duplikat
cleanedGoat = deleteDuplicates(goatData)
cleanedGoat.shape

382

(1501, 5)

## Sapi

In [31]:
print(cowData.shape)
print(cowData.info())

(1958, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1958 entries, 0 to 1957
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        1958 non-null   object
 1   Ingredients  1942 non-null   object
 2   Steps        1942 non-null   object
 3   Loves        1958 non-null   int64
 4   URL          1958 non-null   object
dtypes: int64(1), object(4)
memory usage: 76.6+ KB
None

Masih ada nilai null pada kolom **Ingredients** dan **Steps**. Dan juga perlu dicek nilai duplikat di kolom **Title**.

### Hapus Nilai Null

In [54]:
# Hapus Nilai Null
cowData.dropna(inplace=True)
cowData.shape

(1942, 5)

### Duplikat

In [55]:
dupCowTitle = cowData.duplicated(subset=['Title'])
dupCowTitle = cowData[dupCowTitle]
print(len(dupCowTitle))

# Hapus Data Duplikat
cleanedCow = deleteDuplicates(cowData)
cleanedCow.shape

402

(1540, 5)

## Tahu

In [32]:
print(tahuData.shape)
print(tahuData.info())

(1985, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1985 entries, 0 to 1984
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        1985 non-null   object
 1   Ingredients  1984 non-null   object
 2   Steps        1985 non-null   object
 3   Loves        1985 non-null   int64
 4   URL          1985 non-null   object
dtypes: int64(1), object(4)
memory usage: 77.7+ KB
None

### Hapus Nilai Null

In [56]:
# Hapus Nilai Null
tahuData.dropna(inplace=True)
tahuData.shape

(1984, 5)

### Duplikat

In [57]:
dupTahuTitle = tahuData.duplicated(subset=['Title'])
dupTahuTitle = tahuData[dupTahuTitle]
print(len(dupTahuTitle))

# Hapus Data Duplikat
cleanedTahu = deleteDuplicates(tahuData)
cleanedTahu.shape

317

(1667, 5)

## Telur

In [33]:
print(eggData.shape)
print(eggData.info())

(1974, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1974 entries, 0 to 1973
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        1974 non-null   object
 1   Ingredients  1972 non-null   object
 2   Steps        1972 non-null   object
 3   Loves        1974 non-null   int64
 4   URL          1974 non-null   object
dtypes: int64(1), object(4)
memory usage: 77.2+ KB
None

### Hapus Nilai Null

In [58]:
# Hapus Nilai Null
eggData.dropna(inplace=True)
eggData.shape

(1972, 5)

### Duplikat

In [59]:
dupEggTitle = eggData.duplicated(subset=['Title'])
dupEggTitle = eggData[dupEggTitle]
print(len(dupEggTitle))

# Hapus Data Duplikat
cleanedEgg = deleteDuplicates(eggData)
cleanedEgg.shape

206

(1766, 5)

## Tempe

In [34]:
print(tempeData.shape)
print(tempeData.info())

(1986, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1986 entries, 0 to 1985
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        1986 non-null   object
 1   Ingredients  1985 non-null   object
 2   Steps        1986 non-null   object
 3   Loves        1986 non-null   int64
 4   URL          1986 non-null   object
dtypes: int64(1), object(4)
memory usage: 77.7+ KB
None

### Hapus Nilai Null

In [60]:
# Hapus Nilai Null
tempeData.dropna(inplace=True)
tempeData.shape

(1985, 5)

### Duplikat

In [61]:
dupTempeTitle = tempeData.duplicated(subset=['Title'])
dupTempeTitle = tempeData[dupTempeTitle]
print(len(dupTempeTitle))

# Hapus Data Duplikat
cleanedTempe = deleteDuplicates(tempeData)
cleanedTempe.shape

398

(1587, 5)

## Udang

In [35]:
print(shrimpData.shape)
print(shrimpData.info())

(1994, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        1994 non-null   object
 1   Ingredients  1994 non-null   object
 2   Steps        1994 non-null   object
 3   Loves        1994 non-null   int64
 4   URL          1994 non-null   object
dtypes: int64(1), object(4)
memory usage: 78.0+ KB
None

### Duplikat

In [63]:
dupShrimpTitle = shrimpData.duplicated(subset=['Title'])
dupShrimpTitle = shrimpData[dupShrimpTitle]
print(len(dupShrimpTitle))

# Hapus Data Duplikat
cleanedShrimp = deleteDuplicates(shrimpData)
cleanedShrimp.shape

376

(1618, 5)